
/* This code is based on an example of a CSS Reset */
/*Author: JoshWComeau*/
/*Accessed: 6/5/25*/
/*Available at: https://www.joshwcomeau.com/css/custom-css-reset/*/
*{
    margin: 0;
    padding: 0;
}

/* This code is based on an example on how to load external fonts to the web application */
/*Author: Chris Coyier*/
/*Accessed: 12/5/25*/
/*Available at: https://css-tricks.com/snippets/css/using-font-face-in-css/*/
@font-face{
    font-family: pixelFont;
    src: url("../../assets/fonts/PressStart2P-Regular.ttf") format('woff2')
}


.menubg_image{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.title_area, .menu_area{
    position:relative;
}

.title_area{
    left: 14vw;
}



#title_text{
    font-family: pixelFont;
    position:absolute;
    letter-spacing:10px;
    left:23%;
    font-size: 4vw;
    top:35%;
    word-wrap: break-word;
    width: 100%;
    color:gold;
    -webkit-text-stroke:2px;
    -webkit-text-stroke-color:goldenrod;

}

@media(max-width:1000px){
    #title_text{
        top:45%;
        font-size:4vw;
        left:15%;
    }
}

@media(max-width:550px){
    #title_text{
        top:45%;
        font-size:6vw;
        left:15%;
    }
}


.title_img{
    width: 70vw;
    height: 30vh;
}


.menu_area{
    top:5vh;
    left: 20vw;
}

.menu_img{
    width: 60vw;
    height: 60vh;
}



.main_button{
    width:40vw;
    height:15vh;
    background-color:darkslateblue;
    border-color:aliceblue;
    border-style: solid;
    color: white;
    border-width: 0.5vw;
    font-family: pixelFont;
    font-size: 3vw;
}

.main_button:hover, .main_button:focus, .sound_button:hover, .sound_button:focus{
    border-width: 0.7vw;
    border-color: lightblue;
}

#play_button{
    position: absolute;
    top: 4vh;
    left:10vw;
}

#leaderboard_button{
    position: absolute;
    top:25vh;
    left:10vw;
}

.sound_button{
    position: absolute;
    width:20vw;
    height:10vh;
    background-color:black;
    border-color:aliceblue;
    border-style: solid;
    color: white;
    border-width: 0.5vw;
    font-family: pixelFont;
    font-size: 1vw;
}

#music_button{
    top: 45vh;
    left:8vw;
}
#sfx_button{
    top: 45vh;
    left:32vw;
}




.fadeTransition_image{
    position: absolute;
    width:100vw;
    height:100vh;
    top:0vh;
    opacity: 0.0;
    animation: fadeIn 0.3s;
    pointer-events: none;
    z-index: 1;
}

@keyframes fadeIn{
    0%{
        opacity: 1.0;
    }
    100%{
        opacity: 0.0;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 0.0;
    }
    100%{
        opacity: 1.0;
    }
}

.hosttitle_image{
    position: absolute;
    width: 17vw;
    height: 28vh;
    left:60vw;
    top:50vh;
    animation: hosttitleMove 2.0s infinite;
}

@keyframes hosttitleMove{
    0%{
        top:2vh;
    }
    50%{
        top:15vh;
    }
    100%{
        top:2vh;
    }
}

.questionmark_image{
    position: absolute;
    width: 10vw;
    height: 20vh;
    left:-16vw;
    animation: questionmarkMove 2.0s infinite; 
}

@keyframes questionmarkMove{
    0%{
        top:20vh;
    }
    50%{
        top:8vh;
    }
    100%{
        top:20vh;
    }
}


body{
    width: 60vw;
    height: 60vh;

}



